@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    background: #87cefa;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.title{
    color:#003BB9;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 30px;
}
/* linear-gradient(to bottom, #68EACC 0%, #497BE8 100%); */
.container{
    padding: 20px;
    background: #f5f5f5;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 7px 15px #87cefa  ;
}
.todo-list{
    width: 450px;
    padding: 20px;
    box-shadow: 0 10px 40px rgb(0, 0, 0, 0.1);
    border-radius: 9px;
    background-color: #fff;
}
.list-head{
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 10px;
}
.entered-list{
    border-radius: 9px;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
    outline: none;
}
.add-list{
    background: linear-gradient(to bottom, #04C196, #0D40AE);
    color: white;
    border-radius: 9px;
    font-size: 16px;
    outline: none;
    cursor: pointer;
    opacity: 0.6;
    pointer-events:none;
}
.add-list.active{
    opacity: 1;
    pointer-events: all;
}
.tasks{
    width: 100%;
    margin-top: 30px;
}
.item{
    border-radius: 9px;
    padding: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
}
.item.completed p{
    text-decoration: line-through;
    color: #11111180;
}
.item p{
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #111;
}
.item-btn{
    display: flex;
    align-items: center;
    gap: 13px;
}
.item-btn i{
    color: #0D40AE;
    font-size: 18px;
    cursor: pointer;
}

/* #21242d */
#preloader{
    width: 100%;
    height: 100vh;
    background: #21242d url("preloader.webp") no-repeat center center;
    background-size: 40%;
    position: fixed;
    z-index: 100;
    margin: 0;
}
@media (max-width: 1100px){
    .todo-list{
        width: 80%;
    }
}